
.swiper::-webkit-scrollbar {
  display: none;
}
.swiper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-slide {
  opacity: 0.5;
  transition: transform 0.3s, opacity 0.3s;
}
.swiper-slide-active {
  transform: scale(1.05);
  opacity: 1;
  z-index: 10;
}
